version: "3.8"
services:
  mongodb:
    image: mongo:4.4.6
    container_name: mongodb

    ports:
      - 27017:27017

    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGODB_ADMINUSERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGODB_ADMINPASSWORD}
    volumes:
      - data:/data

  mongo-express:
    image: mongo-express
    container_name: mongo-express

    restart: always
    ports:
      - 8081:8081
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=${MONGODB_ADMINUSERNAME}
      - ME_CONFIG_MONGODB_ADMINPASSWORD=${MONGODB_ADMINPASSWORD}
      - ME_CONFIG_MONGODB_SERVER=mongodb

  pds:
    image: pds-app
    container_name: backend1
    ports:
      - 8181:8181
    depends_on:
      - mongodb
    environment:
      - SPRING_DATA_MONGODB_URI=${MONGODB_URI}


volumes:
  data: {}
networks:
  default:
    name: mongodb_network
